COIN = {{ coin_name }}
NET = {{ coin_network }}
DB_DIRECTORY = {{ database_dir }}
DAEMON_URL = http://{{ coind_user }}:{{ coind_password }}@{{ coind_host }}:{{ coind_port }}/
DB_ENGINE = rocksdb
TCP_PORT = {{ tcp_port }}
SSL_PORT = {{ ssh_port }}
HOST = 0.0.0.0
MAX_SEND = {{ max_send }}
BANDWIDTH_LIMIT = {{ bandwidth_limit }}

SSL_CERTFILE=/etc/electrumx/server.crt
SSL_KEYFILE=/etc/electrumx/server.key
